# ===== Python =====
__pycache__/
*.py[cod]
*.pyo

# ===== windows =====
*.exe 
log.log
# ===== Virtual Environment =====
.venv/
venv/
env/

# ===== Environment variables =====
.env
.env.*

# ===== Ignore folder =====
**/đơn hàng/

build/
dist/
# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/


zalo_state.json
log.log